@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    list-style:none;
    text-decoration:none;
}


:root{

--red: #042d96 ;
    --white:#22bea4;
    --dark:hwb(223 65% 28%)
}


body{
    background-color:#000;
}

material-symbols-outlined {
color: #042D96
}


.circle{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#152349;
    clip-path:circle(15% at bottom right)
}


.navigation{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:3px 40px;
    width:100%;
    transition:all .5s;
    position:fixed;
    background-color:#000
}


.navigation .Craque{
    width:100px
}


.navigation .logo{
    color: #042D96 ;
    font-size:1.4rem;
    font-weight:600;
    transform:translate(-250%)
}


.navigation ul{
    display:flex;
    align-items:center;
    gap:2.5rem;
color: #042D96;
}

.navigation ul li a{
    color:var(--red);
font-size: 20px;
    font-weight:800;
    transition:all .5s;
    color: #042D96 ;
}

.navigation ul li a:hover{
    color:#e5132a
}

.navigation i{
    cursor:pointer;
    font-size:1.5rem
}


.menu{
    cursor:pointer;
    display:none
}


.menu .bar{
    display:block;
    width:28px;
    height:3px;
    border-radius:3px;
    margin:5px auto;
    transition:all .3s;
    background-color:#152349
}


.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background:var(--red)
}


.home{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:1px 10%
}


.home-text{
    max-width:37rem;
}


.home-text .text-h4{
    font-size:3rem;
    margin-bottom:2rem;
    color: #042D96 ;
    transform: translate(0px, -130%);
}


.home-text p{
    margin-bottom:4rem;
    color:#faebd7e8;
    font-size: 20px;
    transform: translate(0px, -100px);
}

.home-text h2{
  margin-bottom:4rem;
    color:#faebd7e8;
    font-size: 20px;
}


.home-img img{
    width: 100%;
    transform:translate(260px,210px);
    display: none;
}

.boxImg .img2{
    transform:rotate(0deg);
    width:180px;
    Margin:0 auto;
    border-radius: 5%;
}

.boxImg .img3{
  transform:rotate(0deg);
  width:180px;
  transform:translate(-179%, 3%);
  border-radius: 5%;
}

.boxImg .img4{
  transform:rotate(0deg);
  width:180px;
  transform:translate(-435%, 190%);
  border-radius: 5%;
}

.boxImg .img5{
  transform:rotate(0deg);
  width:180px;
  transform:translate(-435%, 190%);
  border-radius: 5%;
}

.boxImg .img6{
  transform:rotate(0deg);
  width:180px;
  transform:translate(-435%, 150%);
  border-radius: 5%;
}






  @media (min-width:320px) and (max-width:521px){
    .navigation{padding:1px 20px}
    
    
  .navigation .Craque{
      width:100px;
      transform:translate(-10px)
  }


.navigation{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:1px 1px;
  width:100%;
  transition:all .5s;
  position:fixed;
  background-color:#000
}



.navigation ul{
  display:flex;
  align-items:center;
  gap:1.5rem;
  transform: translate(-10px);
}

.navigation ul li a{
  color:var(--dark);
  font-size:22px;
  font-weight:700;
  transition:all .5s;
  color: #042d96
}

.navigation ul li a:hover{
  color:#e5132a
}

.navigation i{
  cursor:pointer;
  font-size:1.5rem
}


.menu{
  cursor:pointer;
  display:none
}


.menu .bar{
  display:block;
  width:28px;
  height:3px;
  border-radius:3px;
  margin:5px auto;
  transition:all .3s;
  background-color:#152349
}
    

    .circle{
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background:#152349;
      clip-path:circle(15% at bottom right)
  }
   
    
    .home{
        padding:140px 2%;
        flex-direction:column;
        text-align:center;
        gap:2rem;
    }
    
    
    .home .text-h4{
        font-size:32px;
        transform: translate(0px, -50px);
    }
    
    .home-text p{
      color:#faebd7e8;
      font-size: 20px;
      transform: translate(0px, -80px);
  }
  
    .boxImg .img2{
      width:200px;
      Margin: 0 auto;
      border-radius: 10%;
      position: absolute;
  }
  
  .boxImg .img3{
    transform:rotate(0deg);
    width:200px;
    transform:translate(-50%, -134%);
    border-radius: 10%;
    position:absolute;
  }
  
  .boxImg .img4{
    transform:rotate(0deg);
    width:200px;
    transform:translate(-50%, -104%);
    border-radius: 10%;
    position: absolute;
  }


.boxImg .img5{
    transform:rotate(0deg);
    width:200px;
    transform:translate(-50%, -74%);
    border-radius: 10%;
    position: absolute;
  }

.boxImg .img6{
  transform:rotate(0deg);
  width:180px;
  transform:translate(-50%, -44%);
  border-radius: 5%;
}

  }




@media (min-width:522px) and (max-width:790px){
  .navigation{padding:1px 20px}
    
    
  .navigation .Craque{
      width:100px;
      transform:translate(-40px)
  }


.navigation{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:1px 40px;
  width:100%;
  transition:all .5s;
  position:fixed;
  background-color:#000
}



.navigation .logo{
  color:var(--red);
  font-size:1.4rem;
  font-weight:600;
  transform:translate(-250%)
}


.navigation ul{
  display:flex;
  align-items:center;
  gap:3.5rem
}

.navigation ul li a{
  color:var(--dark);
  font-size:19px;
  font-weight:700;
  transition:all .5s;
  color: #042d96;
}

.navigation ul li a:hover{
  color:#e5132a
}

.navigation i{
  cursor:pointer;
  font-size:1.5rem
}


.menu{
  cursor:pointer;
  display:none
}


.menu .bar{
  display:block;
  width:28px;
  height:3px;
  border-radius:3px;
  margin:5px auto;
  transition:all .3s;
  background-color:#152349
}
  

  .circle{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#152349;
    clip-path:circle(15% at bottom right)
}
 
  
  .home{
      padding:150px 2%;
      flex-direction:column;
      text-align:center;
      gap:5rem
  }
  
  
  .home .text-h4{
      font-size:32px;
      transform: translate(0px,-70px);
  }
  
  .home-text p{
    margin-bottom:4rem;
    color:#faebd7e8;
    font-size: 20px;
    transform: translate(0px, -105px);
}

  .boxImg .img2{
    transform:rotate(0deg);
    width:210px;
    transform:translate(-50%, -264%);
    border-radius: 10%;
    position: absolute;
}

.boxImg .img3{
  transform:rotate(0deg);
  width:210px;
  transform:translate(-50%, -133%);
  border-radius: 10%;
  position: absolute;
}

.boxImg .img4{
  transform:rotate(0deg);
  width:190px;
  transform:translate(-50%, -90%);
  border-radius: 10%;
  position: absolute;
}

.boxImg .img6{
  transform:rotate(0deg);
  width:180px;
  transform:translate(-435%, 190%);
  border-radius: 5%;
}

}




@media (min-width:791px) and (max-width:1000px){
  .navigation{padding:1px 20px}
    
    
  .navigation .Craque{
      width:100px;
      transform:translate(-40px)
  }


.navigation{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:1px 40px;
  width:100%;
  transition:all .5s;
  position:fixed;
  background-color:#000
}



.navigation .logo{
  color:var(--red);
  font-size:1.4rem;
  font-weight:600;
  transform:translate(-250%)
}


.navigation ul{
  display:flex;
  align-items:center;
  gap:4.5rem
}

.navigation ul li a{
  color:var(--dark);
  font-size:28px;
  font-weight:700;
  transition:all .5s;
  color:##042d96;
}

.navigation ul li a:hover{
  color:#e5132a
}

.navigation i{
  cursor:pointer;
  font-size:1.5rem
}


.menu{
  cursor:pointer;
  display:none
}


.menu .bar{
  display:block;
  width:28px;
  height:3px;
  border-radius:3px;
  margin:5px auto;
  transition:all .3s;
  background-color:#152349
}

  .circle{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#152349;
    clip-path:circle(15% at bottom right)
}
 
  
  .home{
      padding:150px 2%;
      flex-direction:column;
      text-align:center;
      gap:5rem
  }
  
  
  .home .text-h4{
      font-size:55px;
      transform: translate(-0px,-70px);
      text-align: center;
  }
  
  .home-text p{
    color:#faebd7e8;
    font-size: 25px;
    transform: translate(-210px, -92px);
}


  .boxImg .img2{
    transform:rotate(0deg);
    width:240px;
    transform:translate(-135%, -213%);
    border-radius: 10%;
    position: absolute;
}

.boxImg .img3{
  transform:rotate(0deg);
  width:240px;
  transform:translate(34%, -213%);
  border-radius: 10%;
  position: absolute;
}

.boxImg .img4{
  transform:rotate(0deg);
  width:220px;
  transform:translate(-50%, -140%);
  border-radius: 10%;
  position: absolute;
  
}


}


